* {
    box-sizing: border-box;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}

.btn {
  transition: background-color 0.3s, color 0.3s;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    padding: 2px 4px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

a {
  text-decoration: none;
}